:root {
      --color-primary: #E22218;
      --color-accent: #FFF501;
      --color-bg: #FFF8F0;
      --color-dark: #323232;
      --color-trust: #2E7D32;
      --color-white: #FFFFFF;
    }

    html {
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background-color: var(--color-bg);
      color: var(--color-dark);
    }

    nav {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: var(--color-white);
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1000;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    nav .logo {
      height: 60px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 2rem;
      margin: 0;
      margin-right: 60px;
      padding: 0;
    }

    nav a {
      color: var(--color-primary);
      text-decoration: none;
      font-weight: 600;
    }

    nav a:hover {
      text-decoration: underline;
    }

    section {
      height: 83vh;
      padding: 6rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }

    #home {
      background-color: var(--color-bg);
    }

    #about {
      background-color: #fff0e6;
    }

    .hero-text {
      max-width: 600px;
      font-size: 1.5rem;
    }

    .hero-text h1 span {
      background-color: var(--color-primary);
      color: var(--color-bg);
      padding: 6px;
    }    
    .hero-text p {
      font-size: 1.15rem;
      margin-bottom: 0;
    }    

    .menu-button {
      background-color: var(--color-primary);
      color: var(--color-white);
      border: none;
      margin-top: 1rem;
      padding: .7rem 1.7rem;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      transition: .3s;
    }

    .menu-button:hover {
      background-color: #b71c1c;
    }

    .info-block {
      max-width: 600px;
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.6;
    }

    .highlight {
      color: var(--color-trust);
      font-weight: bold;
    }

    .halal-badge {
      margin-left: -1rem;
      width: 100%;
      padding: 1rem 1rem;
      display: flex;
      justify-content: center;
    }
    .halal-badge img {
      width: 80px;
      height: auto;
    }
