@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cinzel:wght@400..900&display=swap');

:root {
  --primary-color: white;
  --secondary-color: rgb(77, 156, 40);
  --background-color: black;
  --text-color: white;
  --footer-text-color: #605E61;
  --logo-color: #c81815;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Cinzel', serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
}

/* -------------------- NAV -------------------- */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: transparent;
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bolder;
  color: var(--logo-color);
}

nav ul {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

nav ul li a {
  color: #b4120f;
  transition: 0.4s ease-in-out;
}

nav ul li a:hover {
  font-weight: bold;
}

/* -------------------- HOME -------------------- */

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dark {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.home-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* -------------------- BUTTON -------------------- */

.button {
  display: inline-block;
  border: 2px solid var(--primary-color);
  background: rgba(255, 19, 19, 0.4);
  color: var(--primary-color);
  padding: 4px;
  min-width: 360px;
  text-align: center;
  transition: 0.4s ease;
}

.button:hover {
  background-color: var(--logo-color);
  border-color: transparent;
}

/* -------------------- FOOTER -------------------- */

.footer-info {
  padding: 100px;
  text-align: center;
  line-height: 30px;
  color: var(--footer-text-color);
}

.footer-info a:hover {
  color: var(--logo-color);
  transition: 0.4s ease;
}
