/* ===========================
   Index Page Specific Styles
=========================== */

/* Hero Text Styles */
#stagger-p span {
  display: inline-block;
  white-space: pre;
}

/* Card UI Styles */
.card {
  width: 100%;
  max-width: 380px;
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 250px;
  background: #000;
  cursor: pointer;
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  z-index: 1;
}

.map-overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}

.is-active .map-overlay-img {
  opacity: 0;
  transform: scale(1.1);
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: white;
  padding: 4px;
  border-radius: 4px;
  z-index: 10;
  font-size: 14px;
  cursor: pointer;
}

.content {
  padding: 24px;
  text-align: center;
}

.content h2 {
  margin: 0 !important;
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 500;
}

.content p {
  margin: 4px 0 20px 0 !important;
  color: #999999;
  font-size: 0.9rem;
}

.meta {
  display: flex;
  gap: 15px;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 15px;
}

.meta-item {
  text-align: center;
  color: #D4AF37;
  font-size: 0.8rem;
  line-height: 22px;
}

/* Hero Text Styles */
.hero-title * {
  margin: 0rem;
}

.hero-text {
  max-width: 600px;
  font-size: clamp(1.2rem, 1rem + 1vw, 1.5rem);
  padding: 1rem;
  color: var(--color-trust);
  line-height: 3.5rem;
  text-shadow: 2px 2px 6px var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title h1 {
  letter-spacing: 8px;
}

.hero-text p {
  line-height: 2rem;
}

/* Sections */
section {
  height: 83vh;
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#home {
  background: var(--color-bg) url('../img/bg2.png') center/cover no-repeat;
  color: var(--color-primary);
}

#about {
  background-color: var(--color-primary);
  color: var(--color-bg);
  height: fit-content;
}

#about h2 {
  display: flex;
  flex-direction: column;
  gap: .65rem;
}
