@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:wght@100..900&display=swap');

/* ===========================
   Root Variables
=========================== */
:root {
  --color-primary: #F5F5DC;
  --color-accent: rgb(252,222,151);
  --color-bg: #1C1C1C;
  --color-highlight: #8B3E2F;
  --color-section: #5C4033;
}

/* ===========================
   Base Styles
=========================== */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-dark);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

/* ===========================
   Navigation
=========================== */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}

nav .logo {
  height: 80px;
  margin: 0;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0;
  margin-right: 60px;
  padding: 1rem 0;
  margin-bottom: 40px;
}

nav a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

/* ===========================
   Sections
=========================== */
section {
  height: 83vh;
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#home {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

#about {
  background-color: var(--color-bg);
  color: var(--color-accent);
}

/* ===========================
   Hero
=========================== */
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
  gap: 1rem;
  max-width: 600px;
  font-size: 1.5rem;
}

.hero-text img {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
}

.hero-text h1 {
  font-size: 2rem;
}

.hero-text p {
  font-size: 1.15rem;
  margin-bottom: 0;
}

/*

.hero-image {
  animation: spin 8s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

*/  

/* ===========================
   Buttons
=========================== */
.menu-button {
  font-family: "Allura";
  background-color: var(--color-section);
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  margin-top: 1rem;
  padding: .2rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.menu-button:hover {
  background-color: var(--color-accent);
  color: var(--color-section);
  border: 2px solid var(--color-section);
}

/* ===========================
   Info Blocks
=========================== */
.info-block {
  max-width: 600px;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.6;
}

.highlight {
  color: var(--color-trust);
  font-weight: bold;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  height: 30px;
  text-align: center;
  color: var(--color-bg);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-accent);
  margin-right: 0rem;
  text-align: right;
  padding: 4px 10px 4px 10px;
  margin-bottom: 1.4rem;
}

.header-info img {
  margin-bottom: 0;
  height: 80px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  text-align: center;
  color: var(--color-primary);
  font-size: 1.05em;
}

.footer-info .footer-text {
  display: flex;
  flex-direction: column;
}

/* ===========================
   Page Layout
=========================== */

.page {
  width: 210mm;
  height: 297mm;
  background-image: url('./img/bg_pdf.png');
  background-position: center;
  background-size: cover;
  margin: 10px auto;
  padding: 5mm;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  page-break-after: always;
  display: flex;
  flex-direction: column;
}


/* ===========================
   Menu Grid
=========================== */
.menu-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 8px;
  width: 100%;
  grid-auto-flow: dense;
  align-items: stretch;
}

.menu-row {
  justify-content: space-between;
}

.category-block {
  break-inside: avoid;
  border: 4px solid var(--color-accent);
  background-color: var(--color-bg);
  padding: 10px 12px 12px 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.page .category-block:nth-of-type(6) {
  background-color: red;
}


.category-block .header-info {
  height: 0;
}

.category-block h2 {
  margin: 0 0 8px 0;
  font-size: 1.2rem;
  color: var(--color-primary);
  text-align: center;
  font-weight: 800;
  font-style: italic;
  font-weight: 600;
  font-size: 1.8rem;
}

.category-block .plate strong {
  color: var(--color-primary);
}

.category-block .plate {
  display: flex;
  flex-direction: row;
}

.category-block .plate .price {
  background-color: transparent;
  color: var(--color-primary);
  width: fit-content;  
  padding: 0;
}

.category-block table {
  height: 100%;
}

/* ===========================
   Plates & Prices
=========================== */
.plate {
  width: 100%;
  max-height: 30px;
  margin-bottom: 8px;
  text-align: center;
}

.plate strong {
  color: var(--color-primary);
  font-size: 1.05em;
}

.price {
  display: inline-block;
  background-color: var(--color-primary);
  font-weight: bold;
  color: var(--color-primary);
  padding: 0.1rem 1.2rem;
  margin: .2rem .2rem .2rem .5rem;
  font-size: 0.98em;
}

.description {
  color: #333;
  font-style: italic;
  font-size: 0.95em;
  display: block;
  margin-top: 2px;
}

/* ===========================
   Buttons (Download/Export)
=========================== */
#downloadBtn,
#exportPngBtn {
  display: block;
  margin: 20px auto 0 auto;
}

/* ===========================
   Print Styles
=========================== */
@media print {
  body {
    background: none;
    padding: 0;
  }

  .page {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
  }

  #downloadBtn {
    display: none;
  }
}

    html {
      scroll-behavior: smooth;
    }

    .menu-header {
      margin-top: 100px;
      text-align: center;
    }

    .menu-controls {
      margin: 2rem auto;
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .nav-pills-container {
      width: 100%;  
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      background-color: transparent;
      z-index: 999;
      overflow-x: auto;
      white-space: nowrap;
      margin-top: 6px;
      padding: 0.6rem 1rem;
      scrollbar-width: none;
      display: flex;
      justify-content: space-between;
    }

    .nav-pills-container::-webkit-scrollbar {
      display: none;
    }

    .nav-pills a {
      display: inline-block;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      background-color: var(--color-section);
      border: 2px solid var(--color-accent);
      color: var(--color-accent);
      font-size: 0.85rem;
      text-decoration: none;
      transition: 0.4s ease-in;
      font-family: "Raleway", sans-serif;
      font-style: oblique;
    }

    .nav-pills a:hover {
      color: var(--color-section);
      border-color: var(--color-accent) ;
      background-color: var(--color-accent);
      text-decoration: none;
    }

    .category-card {
      scroll-margin-top: 200px;
      border: var(--color-accent) 4px solid;
      margin: 1rem;
      min-width: auto;
      max-width: 460px;
      padding: 1.3rem;
      background-color: transparent;
      color: var(--color-accent);
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .category-card .plate * {
      font-size: .85rem;
      background: none;
      padding: 0;
      color: var(--color-bg);
      width: fit-content;
    }

    .category-card .plate .dashed {
      border-bottom: dashed 2px var(--color-accent);
      width: fit-content;
      margin: 4px;
      height: 10px;
      width: 100px;
    }

    .category-card .description {
      font-size: .8rem;
      text-align: center;
    }

    .category-block h2 {
      font-size: 1.5rem;
    }

    .category-card .plate strong, .category-card .plate .price {
      color: var(--color-accent);
    }


    .category-block .plate * {
      font-size: .85rem;
    }

    .category-block .plate .dashed {
      border-bottom: dashed 2px var(--color-primary);
      flex: 1;
      width: fit-content;
      margin: 4px;
      height: 10px;
    }

    .category-card .plate {
      flex-direction: row;
    }

    .category-card img {
      width: 130px;
      object-fit: cover;
    }

    .category-card .plate {
      max-height: fit-content;
    }

    .menu-header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      gap: 1rem;
      margin-top: 0;
      padding-bottom: .6rem;
      
    }

    .menu-header h2 {
      margin: 0;
      font-size: 2rem;
      font-family: "Great Vibes";
    }

    .plate {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .plate strong {
      color: var(--color-bg);
    }

    nav ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;
      background-color: var(--color-bg);
    }

    .menu > .category-card:first-of-type {
      margin-top: 45px;
    }

    .menu .category-card {
      margin: 20px;
    }

    .price {
      display: inline-block;
      background-color: var(--color-accent);
      font-weight: bold;
      color: var(--color-trust);
      padding: 0.1rem 3rem;
      margin: .3rem;
  
    }

    .description {
      color: var(--color-dark);
      font-style: italic;
    }

    .category-block .plate {
      justify-content: space-between;
    }

    .footer-info .footer-text {
      background-color: var(--color-accent);
      color: var(--color-bg);
      text-align: right;
      padding: 1rem;
    }

    .footer-info img {
      border: var(--color-accent) 4px solid;
    }


    .footer-info-alt {
      background-color: var(--color-accent);
      color: var(--color-bg);
      text-align: center;
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .75rem;
      padding: 0rem;
    }



    .menu-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-row {
  display: flex;
  gap: 1rem;
}

.category-block {
  flex: 0 0 calc(33.333% - 1rem); /* default: 3 per row */
  box-sizing: border-box;
}
