@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color1: #553F2B;
  --color2: white;
  --color3: #E7D4BF;  
}

* {
  scroll-behavior: smooth;
}

.blur-box {
  position: fixed;
  padding: 1rem 2rem;
  backdrop-filter: blur(8px);          /* main blur */
  -webkit-backdrop-filter: blur(8px);  /* for Safari */
  border-radius: 12px;
  z-index: 9999;
  width: 95%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: 'Lobster';
  background-color: var(--color3);
  color: var(--color1);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
}

section {
  height: 100vh;
}

/* -------------------- NAV -------------------- */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: transparent;
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bolder;
  color: var(--logo-color);
}

nav ul {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

nav ul li a {
  color:  var(--logo-color);
  transition: 0.4s ease-in-out;
}

nav ul li a:hover {
  font-weight: bolder;
}

/* -------------------- HOME -------------------- */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

/* -------------------- BUTTON -------------------- */

.button {
  display: inline-block;
  border-radius: 22px;
  border: 3px solid var(--color1);
  background: var(--color1);
  color: var(--color2);
  padding: 6px;
  min-width: 142px;
  text-align: center;
  transition: 0.4s ease;
}

.button:hover {
  border: 3px solid var(--color1);
  background-color: var(--color2);
  color: var(--color1);
}
/* -------------------- FOOTER -------------------- */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--color1);
  color: var(--color3);
}

.footer img {
  width: 160px;
}

.footer-info {
  padding: 50px;
  text-align: center;
  line-height: 30px;
  color: var(--footer-text-color);
}

.footer-info a:hover {
  color: var(--logo-color);
  transition: 0.4s ease;
}

/* -------------------- NAVPILLS -------------------- */


.navpills .pill {
  background-color: var(--color1);
  border-radius: 22px;
  border: 3px solid transparent;
  padding: 6px 12px;
  margin: 20px;
  color: var(--color2);
}

.navpills .pill:hover {
  background-color: var(--color2);
  color: var(--color1);
  border: 3px solid var(--color1);
  padding: 4px 12px;
  margin: 20px;
  transition: 0.4s ease;
}

.navpills {
  font-family: 'Lobster';
  position: fixed;
  top: 50px;
  font-size: 14px;
  padding: 8px;
  margin-top: 0px;
  display: flex;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  gap: 0.5rem;
  scrollbar-width: none;        
  -ms-overflow-style: none;     
  width: 100%;
}

.navpills .menu-nav {
  display: inline-block;
  min-width: 150px; 
}
.navpills::-webkit-scrollbar {
  display: none;               
}

/* -------------------- MENU -------------------- */

.menu {
  font-family: 'Montserrat';
  margin: 140px 1rem;
  display: flex;
  flex-wrap: wrap;
  border: dashed 2px var(--logo-color);
  padding: 1rem;
  gap: 2rem;
}

.menu .card {
  scroll-margin-top: 150px;
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.menu .card .title {
  align-self: center;
  font-weight: bold;
  width: 100%;
  border-bottom: solid;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.menu .card .plate {
  display: flex;
  font-weight: bold;
}

.menu .card .plate .dots {
  flex-grow: 1;
  width: 100px;
  border-bottom: none;
  margin-bottom: 5px;
}

.menu .card .description {
  font-style: italic;
  font-size: 1rem;
  color: var(--light-logo-color);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

